<div class="row border m-0 p-3 mb-4" *ngIf="selectedMovie">
  <div class="col-md-2">
    <img
      class="img-fluid"
      src="/assets/img/{{ selectedMovie.imageUrl }}"
      style="max-height: 350px"
      alt="{{ selectedMovie.name }}"
    />
  </div>
  <div class="col-md-10">
    <h5 class="card-title">
      {{ selectedMovie.title }}
    </h5>
    <p class="card-text">
      {{ selectedMovie.description }}
    </p>
    <button (click)="hideDetails()" class="bt btn-danger btn-sm">
      Seçimi İptal Et
    </button>
    <button
      (click)="addMovieToCart(selectedMovie)"
      class="btn btn-outline-primary btn-sm ml-3"
    >
      Add to card
      <i class="fas fa-cart-plus fa-sm"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let movie of movies">
    <div class="card mb-3">
      <div class="card-header text-center">
        {{ movie.title }}
      </div>
      <img
        src="/assets/img/{{ movie.imageUrl }}"
        style="max-height: 350px"
        alt="{{ movie.name }}"
      />
      <div class="card-body">
        <small class="text-muted float-left">
          <i class="fas fa-dollar-sign fa-sm"></i> {{ movie.price }}
        </small>
        <i
          *ngFor="let star of getStars(movie.star)"
          class="fas fa-star float-right text-danger"
        ></i>
      </div>
      <div class="card-footer text-center">
        <button
          (click)="displayDetails(movie)"
          class="btn btn-outline-primary btn-sm"
        >
          Details
          <i class="fas fa-info-circle fa-sm"></i>
        </button>
        <button
          (click)="addMovieToCart(movie)"
          class="btn btn-outline-success btn-sm ml-3"
        >
          Add to card
          <i class="fas fa-cart-plus fa-sm"></i>
        </button>
      </div>
    </div>
  </div>
</div>
