<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand">Movie & Tv Shows</a>
    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav">
        <button routerLink="/shop" class="nav-link active">Home</button>
      </li>
      <li class="navbar-nav">
        <button routerLink="/shop" class="nav-link">Movies</button>
      </li>
      <li class="navbar-nav">
        <button routerLink="/cart" class="nav-link">Cart</button>
      </li>
      <li class="navbar-nav">
        <button href="#" class="nav-link">Orders</button>
      </li>
      <li class="navbar-nav">
        <button href="#" class="nav-link">Add Movie</button>
      </li>
      <li class="navbar-nav">
        <button href="#" class="nav-link">Admin Movies</button>
      </li>
      <li class="navbar-nav">
        <a href="#" class="nav-link">Add Category</a>
      </li>
      <li class="navbar-nav">
        <button href="#" class="nav-link">Admin Categories</button>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-nav">
        <button href="" class="nav-link active">Login</button>
      </li>
      <li class="navbar-nav">
        <button href="" class="nav-link active">Register</button>
      </li>
      <li class="navbar-nav">
        <button href="" class="nav-link active">Logout</button>
      </li>
    </ul>
  </div>
</div>
