<navbar></navbar>
<div class="container pt-100 mb-5">
  <div class="row">
    <div class="col-3">
      <cart-summary></cart-summary>
      <category-list (category)="getCategory($event)"></category-list>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-md-12" *ngIf="selectedCategory">
          <div class="alert alert-warning">
            <div class="form-inline float-right m-0 p-0">
              <select
                class="form-control-sm"
                [value]="moviesPerPageCount"
                (change)="changePageSize($event.target.value)"
              >
                <option value="2">2 pieces</option>
                <option value="3">3 pieces</option>
                <option value="4">4 pieces</option>
                <option value="6">6 pieces</option>
                <option value="8">8 pieces</option>
              </select>
            </div>
            {{ selectedMovies.length }} options found.
          </div>
        </div>
      </div>
      <movie-list [movies]="movies"></movie-list>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="changePaginationButton(-1)"
              >Previous</a
            >
          </li>
          <li
            class="page-item"
            *ngFor="let pageNumber of pageNumbers"
            (click)="changePage(pageNumber)"
            [class.active]="pageNumber === selectedPageIndex"
          >
            <a class="page-link">{{ pageNumber }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="changePaginationButton(1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
